
$heading: 'Poppins', sans-serif;
$body: 'Rubik', sans-serif;


$black-1: #000;
$black-2: #111;
$black-3: #212121;
$white: #fff;
$sky-1: #d0e0f4;
$sky-2: #dee9f7;
$color-1: #6eff77;
$color-2: #40a346;
$color-3: #6021e7;